# .gitignore for Grails 1.2 and 1.3

# web application files
/out

# IDE support files
/.classpath
/.idea
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
*.iml

.DS_Store
# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws
bower_components/
.sass-cache
.sass-work
.jruby-container
web-app/css/app.css
web-app/css/app.css.map
